<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>add.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PackageList</servlet-name>
        <servlet-class>com.logical.colissimos.servlet.PackageListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPackage</servlet-name>
        <servlet-class>com.logical.colissimos.servlet.AddPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPackagePosition</servlet-name>
        <servlet-class>com.logical.colissimos.servlet.AddPackagePositionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageList</servlet-name>
        <url-pattern>/package-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageList</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPackage</servlet-name>
        <url-pattern>/add-package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPackagePosition</servlet-name>
        <url-pattern>/add-position</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
